.todoItem {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  padding: 15px;
  border-radius: 20px;
}

.title {
  max-width: 80%;
}

.todoItem input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.taskIsDone {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
